body{
    font-family: 'Montserrat', sans-serif;
}
.bg{
  position: absolute;
  width: 100%;
}
.heading{
    background-color: #40b3f6;
    width: 100%;
    padding-bottom: 1rem;
}
.student-roll{
    background-color: white;
    border-color: black;
    border-width: 2px;
    border-style:solid;
    margin:0 2rem 1rem 0rem;
    color: black;
}
.student-name{
    background-color: white;
    border-color: black;
    border-width:2px;
    border-style: solid;
    margin:0 2rem 1rem 0rem;
    color: black;
}
.group-key{
    margin:0 15%;
}
.group-key-col{
    background-color: white;
    border-style: solid;
    border-color: #31008d;
    padding: 1rem 1rem 1rem;
    margin:2rem 2rem 2rem 0rem;
    font-weight:900;
    position: relative;
    
}
@media (min-width:1200px) {
    
    .vl {
        border-left: 6px solid #31008d;
        border-right: 6px solid #31008d;
        border-radius: 20%;
        height: 11rem;
        position: absolute;
        left: 60%;
        margin: 8rem 0;
        margin-right: 10%;
        top: 0;
      }
}
.vl {
    border-left: 6px solid #31008d;
    border-right: 6px solid #31008d;
    border-radius: 20%;
    margin: 8rem 1rem;
  }
.student-details{
    margin:1rem 15%;
}
.project-title{
    background-color: white;
    margin:2rem 5rem 1rem 1rem;
    padding:0.5rem 1rem;
}
.project-domain{
    background-color: white;
    margin: 0rem 3.5rem 2rem 1rem;
    padding: 0.5rem 1rem;

}
.project-details{
    margin: 0.5rem 0rem 1rem 1rem;
}

@media (max-width:515px) {
    .student-roll{
        margin-right: 2px;
    }    
    .student-name{
        margin-left: 2px;
    }
}
.progress-track{
    margin:1rem 15%;
    background-color: #d9d9d9;
}
.progress-track-complete{
    background-color: #545454;
}

/* flip card css start */
.flip-card {
    background-color: transparent;
    width: 275px;
    height: 350px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin:2rem 1rem 2rem 1.5rem;
  }
  
  h3{
    text-align: center;
  }
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-style:solid;
    border-width:5px;
    border-color: #a6a6a6;
    border-radius: 7%;
  }
  
  /* Style the front side (fallback if image is missing) */

  h2,h3,h4{
    font-weight:700 ;
    margin-top: 3rem;
    padding: 0;
    color: #31008d;
    background-color: #40b3f6;
  }
  h3 {
    font-weight:700 ;
    /* padding-top: 3rem; */
  }
  h4 {
    font-weight:700 ;

  }
  /* Style the back side */
  .flip-card-back {
    background-color: #40b3f6;
    color: white;
    transform: rotateY(180deg);
  }
  .card-row{
    margin:2rem 13%;
    margin-left:17%;
  }
  .due-date{
    margin:2rem 0;
    background-color: #40b3f6;
    color: #fff;
    font-size: 30px;
    width: 245px;
    padding: 0.5rem 2rem;
  }
  .back-icon{
    background:transparent;
    margin:0 0.2rem ;
    padding: 0.5rem 0;
 } 
  .front-icon{
    padding: 0 91px;
  }
  .attach-button{
    background-color: #fff;
    color: #31008d;
    font-size: 30px;
    padding:0rem 0rem;
    margin:2rem 0rem 0.75rem ;
    width:243px;
  }
  .modified-date{
    background-color: #fff;
    margin:0rem 0rem;
    color: #31008d;
    font-size: 30px;
    padding:0.5 4.2rem;
    margin-bottom: 4rem;

  }
  .remark{
    margin-top: 1rem;
    width:12rem;
    height: 6rem;
    border-radius: 5%;
    background-color: #d9d9d9;
    color: #31008d;
  }
  .progress-title{
    background-color: #fff;
    margin-top: 1rem;
  }
   .collapsible{
    background:transparent;
   margin:1rem 2rem;
  }

  .content {
    display: none;
    overflow: scroll;
    background-color: #fff;
    height: 150px;
  }
  .flip{
    color:#31008d;
    background:transparent;
    border-radius: 15%;
    margin:0.2rem 0.5rem ;
  }
  /* flip card css end */
